Source: u-boot-olinuxino
Section: admin
Priority: optional
Maintainer: Olimex Dev team <support@olimex.com>
Build-Depends:
 bc,
 bison,
 debhelper-compat (= 12),
 device-tree-compiler,
 dpkg-dev (>= 1.17.14),
 flex,
 gcc-arm-linux-gnueabihf [!armhf],
 gcc-aarch64-linux-gnu [!arm64],
 libc6:arm64 [arm64] <cross>,
 libc6:armhf [armhf] <cross>,
 libfdt-dev:native [arm64],
 libpython3-dev:native [linux-any],
 python3:any [linux-any],
 python3-distutils [linux-any],
 swig [linux-any],
 lzop [armhf] <!cross> | lzop:native [armhf] <cross>,
Build-Depends-Indep:
Rules-Requires-Root: no
Standards-Version: 4.4.1
Homepage: http://www.denx.de/wiki/U-Boot/
Vcs-Browser: https://github.com/olimage/u-boot
Vcs-Git: https://github.com/olimage/u-boot.git

Package: u-boot-olinuxino
Architecture: armhf arm64
Multi-Arch: same
Depends: ${misc:Depends}
Recommends: arm-trusted-firmware [arm64], u-boot-tools-olinuxino [arm64]
Breaks: u-boot (<< 2014.10~rc2+dfsg1-2~), u-boot-sunxi
Replaces: u-boot (<< 2014.10~rc2+dfsg1-2~), u-boot-sunxi
Description: A boot loader for olinuxino boards
 Das U-Boot is a cross-platform bootloader for embedded systems,
 used as the default boot loader by several board vendors.  It is
 intended to be easy to port and to debug, and runs on many
 supported architectures, including PPC, ARM, MIPS, x86, m68k,
 NIOS, and Microblaze.
 .
 This package includes boot loaders for various Allwinner/sunxi
 platforms.
 A64-OLinuXino-1G
 A64-OLinuXino-2Ge8G-IND
 A64-OLinuXino-1Ge16GW
 A64-OLinuXino-1Gs16M
 A64-OLinuXino-1Ge4GW

Package: u-boot-tools-olinuxino
Architecture: linux-any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: device-tree-compiler
Breaks: uboot-envtools (<< 20081215-3~),
        uboot-mkimage (<= 0.4build1),
        u-boot (<< 2010.12-2),
        u-boot-tools
Replaces: uboot-envtools (<< 20081215-3~),
          uboot-mkimage (<= 0.4build1),
          u-boot (<< 2010.12-2),
          u-boot-tools
Description: companion tools for Das U-Boot bootloader
 This package includes programs for generating and listing U-Boot
 images in various formats:
  - mkimage
  - dumpimage
  - mksunxiboot
  - mkenvimage
